{% extends 'pays/base.html'%}
{% load static%}

{% block content%}
<h1 class="titulo">Colégio Shalom</h1>
<h2 class="titulo">Lista das Turmas para o ano 2021</h2>

<div class="offset-1 col-10">
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1T-RPXH6MYMDmjpL7e9cTJ0MGWvJGiL6C/view?usp=sharing">1 classe</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1T-RPXH6MYMDmjpL7e9cTJ0MGWvJGiL6C/view?usp=sharing">2 classe</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1T-RPXH6MYMDmjpL7e9cTJ0MGWvJGiL6C/view?usp=sharing">3 classe</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1T-RPXH6MYMDmjpL7e9cTJ0MGWvJGiL6C/view?usp=sharing">4 classe</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1T-RPXH6MYMDmjpL7e9cTJ0MGWvJGiL6C/view?usp=sharing">5 classe</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1T-RPXH6MYMDmjpL7e9cTJ0MGWvJGiL6C/view?usp=sharing">6 classe</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1T-RPXH6MYMDmjpL7e9cTJ0MGWvJGiL6C/view?usp=sharing">7 classe</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1T-RPXH6MYMDmjpL7e9cTJ0MGWvJGiL6C/view?usp=sharing">8 classe</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1T-RPXH6MYMDmjpL7e9cTJ0MGWvJGiL6C/view?usp=sharing">9 classe</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1T-RPXH6MYMDmjpL7e9cTJ0MGWvJGiL6C/view?usp=sharing">10 classe</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1T-RPXH6MYMDmjpL7e9cTJ0MGWvJGiL6C/view?usp=sharing">11 classe</a>
    <a class="btn btn-primary btn-block lista" href="https://drive.google.com/file/d/1T-RPXH6MYMDmjpL7e9cTJ0MGWvJGiL6C/view?usp=sharing">12 classe</a>

</div>
{% endblock content%}