{% extends 'pays/base.html'%}
{% load static%}

{% block content%}
<h1 class="titulo">Colégio Shalom</h1>
<h2 class="titulo">Professores</h2>

<div class="offset-1 col-10">
    <a class="btn btn-primary btn-block lista" href="#">Joao Tembe</a>
    <a class="btn btn-primary btn-block lista" href="#">Maria Calisto</a>
    <a class="btn btn-primary btn-block lista" href="#">Armando Cesar</a>
    <a class="btn btn-primary btn-block lista" href="#">Roberto changa</a>
    <a class="btn btn-primary btn-block lista" href="#">Lina Rosalina</a>
</div>
{% endblock content%}